[core]
    editor = vim
    pager = delta

[pull]
    ff = only

[user]
{{- if eq .chezmoi.username "nagaoka.yuta" }}
    email = nagaoka.yuta@moneyforward.co.jp
{{- else }}
    email = me@ikanago.dev
{{- end }}
    name = ikanago
    signingkey = A799D787873283A6
[init]
    defaultBranch = main
[credential "https://github.com"]
{{ if eq .chezmoi.os "darwin" }}
    helper = !/opt/homebrew/bin/gh auth git-credential
{{ end }}
[gpg]
    program = gpg
[commit]
    gpgsign = false
[merge]
    conflictStyle = diff3

[delta]
    side-by-side = true
    line-numbers = true
    navigate = true
