# commands
alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -iv'

# git
alias g='git'
alias ga="git add"
alias gap="git add -p"
alias gc="git commit"
alias gp="git push"
alias gl="git log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso"
alias gs="git status"
alias gd="git diff"
alias gb="git branch"
alias gsw="git switch"

[ $(command -v docker-compose) ] && alias dc="docker-compose"
[ $(command -v nvim) ] && alias e='nvim'
[ $(command -v tmux) ] && alias t='tmux'
[ $(command -v procs) ] && alias ps="procs"
[ $(command -v powershell.exe) ] && alias open="powershell.exe /c start"

if [ $(command -v cargo) ]; then
    alias c="cargo"
    alias cb="cargo build"
    alias cf="cargo fmt"
    alias ct="cargo test"
    alias cr="cargo run"
    alias cli="cargo clippy --all-features"
    alias co="cargo outdated"
fi

if [ $(command -v exa) ]; then
    alias l="exa"
    alias ls="exa --git"
    alias la="exa -a --git"
    alias ll="exa -lab --time-style=long-iso --git"
    alias tree='exa -al --tree --git-ignore --git -I ".git"'
else
    alias l="ls"
    alias la="ls -a"
    alias ll="ls -al"
fi


# Show paths splitted with newline.
alias path="printf '%b\n' '${PATH//:/\\n}'"

# others
alias mdtopdf='docker run -it --rm -v "`pwd`":/workdir plass/mdtopdf mdtopdf'

