# commands
alias c="cargo"
alias cb="cargo build"
alias cf="cargo fmt"
alias ct="cargo test"
alias cr="cargo run"
alias dc="docker-compose"
alias e='nvim'
alias grep="rg"
alias t='tmux'

# For safety
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'

# git
alias g='git'
alias ga="git add ."
alias gc="git commit"
alias gp="git push"
alias gl="git log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso"
alias gs="git status"
alias gd="git diff"
alias gb="git branch"
alias gsw="git switch"
alias gco="git checkout"

if [ $(command -v exa) ]; then
	alias l="exa"
	alias ls="exa --git"
	alias la="exa -a --git"
	alias ll="exa -lab --git"
	alias tree='exa --tree'
else
	alias l="ls"
	alias la="ls -a"
	alias ll="ls -al"
fi

if [ $(command -v procs) ]; then
	alias ps="procs"
fi

if [ $(command -v powershell.exe) ]; then
	alias open="powershell.exe /c start"
fi

# others
alias mdtopdf='docker run -it --rm -v "`pwd`":/workdir plass/mdtopdf mdtopdf'

