# mkdir and cd simultaneously
function mkcd() {
    if [[ -d $1 ]]; then
    echo "$1 already exists"
    cd $1
    else
    mkdir -p $1 && cd $1
    fi
}

# cd and ls simultaneously
function cl() {
    cd $1 && exa -la --git
}

# Fuzzy search in repositories
function search_ghq() {
    local target_dir=$(ghq list -p | fzf --query="$LBUFFER")
    if [ -n "$target_dir" ]; then
        BUFFER="cd ${target_dir}"
        zle accept-line
    fi
    zle reset-prompt
}

function drm() {
    sudo docker ps -a | sed 1d | fzf --no-sort -m | awk "{ print $1 }" | xargs -r docker rm
}

function drmi() {
    sudo docker images | sed 1d | fzf --no-sort -m | awk "{ print $1 }" | xargs -r docker rmi
}

function kp() {
    # ps is procs
    pid=$(ps | sed 1,2d | fzf -m --ansi --color prompt:166,border:46 --height 40%  | awk '{print $1}')
    kill $pid
}

function ff() {
    RG_DEFAULT_COMMAND="rg -i -l --hidden --follow --glob '!.git/*'"
    fzf -m --ansi --phony --bind "change:reload:$RG_DEFAULT_COMMAND {q} || true" --preview "rg -i --context 2 --pretty {q} {}"
}
